# For GUI
streamlit==1.29.0
streamlit-aggrid==0.3.4.post3
st_pages==0.4.5
barfi==0.7.0
boto3==1.33.13
pygwalker==0.3.17
streamlit-card==1.0.0

#For CLI
pydantic==2.5.2
typer==0.9.0
pymongo==3.12.0
python-dotenv==1.0.0